# Server Configuration
PORT=3000

# Database Paths
# These paths should point to where the SQLite databases are located
# In Docker, these will be mounted as volumes
DB_PATH_GERMAN=/app/database/german-db
DB_PATH_SWISS=/app/database/timetable-gen
DB_PATH_ARCHIVE=/app/database/games
